*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* input{
    color: red;
    font-size: 20px;
}
 */
/* class selector */
.red{
    color: red;
}

.big{
    font-size: 50px;
}
.bl{
    display: inline;
}

/* Box Model */
.border{
    border: 1px solid red;
}
.form{
    display: block;
    margin: auto;
    padding: 100px;
    width: 70%;
    /* text-align: center; */
}
.pad{
    padding: 0 20px;
}
.rect {
    /* height: 40vh;
    width: 40vw; */
    box-sizing: border-box;

}
.box{
    height: 20%;
    width: 20%;
    /* height: 20vw; */
    /* width: 20vw; */
    /* padding: 40px; */
    /* margin: 40px; */
    box-sizing: border-box;
}